.status {
    margin: 30px auto 0 auto;
    width: 60px;
    height: 50px;
    color: $color;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
        width: 100%;
        height: 100%;
    }
}