@media (min-width: 1440px) {
    .slider__slide {
        display: block;
    }
}
@media (max-width: 1439px) {
    .slider__slide {
        display: none;
    }
    .slider__active {
        margin: 0;
    }
    .slider__wrapper {
        width: 1140px;
    }
    .slider .next {
        right: 455px;
    }
    .slider .prev {
        left: 455px;
    }
}
@media (max-width: 1200px) {
    

    
    
}