@media (max-width: 1439px) {
    .slider {
        &__active {
            margin: 0;
        }
        &__wrapper {
            width: 1140px;
        }
    }
    .slider .next {
        right: 455px;
    }
    .slider .prev {
        left: 455px;
    }
}
@media (max-width: 1200px) {
    .container {
        width: 960px;
    }
    .header {
        &__title {
            font-size: 55px;
        }
        &__title-sub {
            font-size: 25px;
        }
        &__menu-icon {
            width: 92px;
            height: 96px;
        }
        &__link {
            align-items: center;
            padding: 0 10px;
            li {
                padding: 0 8px;
            }
        }
        &__menu-tel {
            font-size: 15px;
        }
    }
    .button {
        font-size: 11px;
        &__consultation {
            &::before {
                width: 365px;
                right: 200px;
            }
            &::after {
                width: 365px;
                left: 200px;
            }
        }
    }
    .advantages {
        &__column {
            width: 450px;
        }
    }
    .delivery {
        &__elem {
            width: 300px;
        }
    }
    .prices {
        &__cart {
            width: 220px;
        }
    }
    .map {
        &__img {
            left: 345px;
        }
    }
    .footer {
        hr {
            margin: 20px 0;
        }
    }
    .consultation {
        &__img {
            &::before {
                width: 420px;
            }
            &::after {
                width: 420px;
            }
        }
        &__input {
            width: 250px;
        }
    }
    .scheme {
        padding: 45px 0;
        &__item {
            margin-top: 36px;
        }
    }
    .slider {
        &__wrapper {
            width: 960px;
        }
    }
    .slider .next {
        right: 380px;
    }
    .slider .prev {
        left: 380px;
    }
}

@media (max-width: 992px) {
    .container {
        width: 720px;
    }
    .header {
        &__link {
            flex-direction: column;
            position: fixed;
            top: 0;
            left: 0;
            height: 100vh;
            width: 400px;
            margin: 0;
            padding: 10% 0;
            background-color: #ffffff;
            opacity: .9;
            z-index: 10;
            transform: translateX(-100%);
            transition: 0.5s all linear;
            li {
                padding: 10px 0;
                a {
                    font-size: 25px;
                }
                &::before {
                    display: none;
                }
            }
        }
        &__gamburger {
            display: flex;
        }
        &__close {
            display: flex;
        }
        &__active {
            position: relative;
            transition: 0.5s all linear;
            span {
                margin: 0px;
                transition: 0.5s all linear;
                background-color: $color;
            }
            :nth-child(1) {
                transform: rotate(-45deg);
                position: absolute;
            }
            :nth-child(3) {
                transform: rotate(45deg);
                position: absolute;
            }
            :nth-child(2) {
                transform: translateX(100%);
                opacity: 0;
            }
        }
        &__menu {
            &-icon {
                width: 85px;
                height: 85px;
            }
        }
        &__promo {
            margin-bottom: 15px;
        }
        &__title {
            font-size: 50px;
            margin-top: 30px;
        }
        &__services {
            &-text {
                line-height: 21px;
                font-size: 15px;
            }
        }
    }
    .advantages {
        &__wrapper {
            flex-wrap: wrap;
            justify-content: center;
        }
    }
    .delivery {
        &__wrapper {
            flex-wrap: wrap;
            justify-content: space-around;
            margin-top: 17px;
        }
        &__elem {
            margin-top: 20px;
        }
    }
    .agent {
        &__text {
            width: 720px;
        }
    }
    .prices {
        &__wrapper {
            justify-content: space-around;
        }
    }
    .consultation {
        &__img {
            &::before {
                width: 300px;
            }
            &:after {
                width: 300px;
            }
        }
        &__wrapper {
            &::before {
                height: 170px;
            }
            &::after {
                height: 170px;
            }
        }
        &__input {
            width: 150px;
            padding: 15px 25px;
            font-size: 15px;
        }
    }
    .managers {
        &__text {
            width: 720px;
        }
    }
    .questions {
        padding: 55px 0 70px 0;
        &__wrapper {
            width: 720px;
            height: 279px;
        }
        &__form {
            padding: 15px 35px;
        }
        &__input {
            padding: 15px 25px;
            width: 161px;
        }
    }
    .map {
        &__img {
            left: 225px;
        }
    }
    .footer {
        &__icon {
            min-width: 65px;
            height: 65px;
        }
        &__connection {
            flex-direction: column;        }
        &__tel {
            margin-bottom: 5px;
        }
    }
    .button {
        padding: 15px 20px;
        &__consultation {
            &::before {
                width: 265px;
                right: 170px;
            }
            &::after {
                width: 265px;
                left: 170px;
            }
        }
    }
    .status {
        margin-top: 15px;
    }

}