.map {
    background: url('../img/mapBG.jpg') center center / cover no-repeat;
    min-height: 500px;
    &__img {
        width: 235px;
        height: 104px;
        position: absolute;
        background: url('../img/mapIMG.png') center center / cover no-repeat;
        top: 171px;
        left: 434px;
        padding: 27px 50px;
    }
    &__address {
        font-size: 14px;
        font-weight: 300;
        color: #898989;
        font-style: normal;
        line-height: 20px;
        span {
            font-size: 16px;
            font-weight: 700;
            color: $color;
        }
        a {
            color: $color;
        }
    }
}